
.back-video{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;
    background-repeat: no-repeat;
}
.mainquizpage {
    background-size: cover;
    width: 100%;
    height: 75vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.quizcontainer {
    position: fixed;
    padding-left: 135px;
    width: 55%;
    min-height: 50vh;
    align-items: center;
    justify-content: space-around;
}
  
.rules {
    width: 300vh;
    height: 144vh;
    margin-top: 100px;
    background-size: cover;
    box-sizing: border-box;
    z-index: 1;
    position: fixed;
    text-align: center;
    line-height: 1.7rem;
    color: white;
}
.rulescontainer{
    width: 750px;
    height: 51vh;
    background-color: rgb(0, 0, 0);
    position: fixed;
    margin: 47% ;
    border-radius: 17px;
    opacity: 100%;
    padding-top: 50px; 
    margin-top: 100px;
}

.rulescontainer ul li{
    list-style-type: disc;
    list-style-position: inside;
    padding-top: 20px;
    align-items: center;
}
  
.optioncontainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10%;
    width: 100%;
    position: relative;
    z-index: 1;
}
  
  
.quizdetails {
    width: 80%;
    height: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: rgb(204, 58, 155);
}

.quizdetails h1 {
    font-size: 20px;
}
.rules button{
        width: 8rem;
        height: 2rem;
        background: none;
        color: rgb(248, 248, 248);
        font-weight: 600;
        border: 2px solid rgb(244, 244, 244);
        cursor: pointer;
        border-radius: 5px;
        margin-top: 30px;
}

.displayqcontainer {
    width: 80%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: center;

    color: black;

}

.displayqcontainer h1 {
    color: black;
    font-weight: bold;
    font-size: 1.4rem;
    text-align: center;
    padding: 3px;
}

.optionmain {
    width: 80%;
    height: 12rem;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}

.optionmain span {
    width: 45%;
    height: 3rem;
    border: 2px solid rgb(0, 0, 0);
    overflow: hidden;
    border-radius: 25px;
}

.optionbox h1 {
    color: #000000;
}

span label {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: transform 0.3s;
    font-weight: 600;
    color: rgb(22, 22, 22);
}

span label:hover {
    -ms-transform: scale(1.12);
    -webkit-transform: scale(1.12);
    transform: scale(1.12);
    color: rgb(19, 94, 137);
}

input[type="radio"] {
    position: relative;
    display: none;
}

input[type=radio]:checked~.option {
    background: rgb(11, 194, 2);
}

.nextcontainer {
    width: 50%;
    height: 3rem;
    display: flex;
    justify-content: center;
}

.nextcontainer button {
    width: 8rem;
    height: 2rem;
    background: none;
    color: rgb(0, 0, 0);
    font-weight: 600;
    border: 2px solid rgb(0, 0, 0);
    cursor: pointer;
    outline: none;
}

.nextcontainer button::hover {
    background-color: rgb(98, 210, 102);
}

.displaycontainer {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    background-color: rgba(0, 0, 0, 0.4);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
    
}

.box {
    height: 33rem;
    width: 23rem;
    background-color: rgb(255, 255, 255);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    border-radius: 23px;
    padding: 1rem;
    box-sizing: border-box;
}

.box h1 {
    font-size: 1.3rem;
    height: 2rem;
    color: rgb(0, 0, 0);
    text-align: center;
    margin-top: 2px;
}

.displaydetails {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    text-align: center;
}

.displaydetails p {
    color: rgb(0, 0, 0);

}



#tryagain {
    width: 10rem;
    height: 2rem;
    background: none;
    outline: none;
    border: 1px solid rgb(183, 41, 41);
    color: rgb(0, 0, 0);
    font-size: 1.1rem;
    cursor: pointer;
}

#tryagain:hover {
    background-color: rgb(183, 41, 41);
    border-radius: 3%;
}

.buttoncontainer button {
    width: 150px;
    height: 40px;
    background: none;
    color: rgb(25, 25, 25);
    font-weight: 600;
    border: 2px solid gray;
    cursor: pointer;
    outline: none;
    margin-left: 110px;
}

.buttoncontainer button:hover {
    background-color: rgb(78, 192, 173);
}

.quizdetails {
    color: black;
}